@import "../../../scss/index";

.evaluacionProveedor{
  color: $font-grey !important;
  cursor: pointer !important;
}

.editarProveedor{
  //color: $font-grey !important;
  cursor: pointer !important;
}

.eliminarProveedor{
  //color: $font-grey !important;
  cursor: pointer !important;
}
