@import "../../../../scss/index";

.contenidoInformativo {
  .listadoOrdenesCompra {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .listadoOrdenesProduccion {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
}
