@import "../../scss/index";

.Departamentos {
  .btnRegistroDepartamentos {
    float: right !important;
  }

  .alert-light {
    color: #ffffff !important;
    background-color: #2160BD !important;
    border-color: #e1e1ff !important;
  }
}
